master:
  image: python:3.8
  script:
    - apt-get update -qy
    - >
      apt-get install -qy
      libopenblas-dev libscalapack-mpi-dev libxc-dev > apt-get.output
    - pip install flake8 mypy pytest interrogate
    - pip install git+https://gitlab.com/ase/ase.git@master > ase-install.output
    - mkdir ~/.gpaw
    - echo "scalapack = True" > ~/.gpaw/siteconfig.py
    - echo "libraries += ['scalapack-openmpi']" >> ~/.gpaw/siteconfig.py
    - echo "extra_compile_args = ['-Werror']" >> ~/.gpaw/siteconfig.py
    - python setup.py install > gpaw-install.output
    - useradd -m user
    - su user -c 'gpaw install-data --register gpaw-datasets'
    - su user -c 'gpaw -P 1 info'
    - su user -c 'pytest -v -m ci'
    - mypy -p gpaw
    - >
      interrogate -m -i -f 34.9
      -e gpaw/test
      -e gpaw/point_groups/groups.py
      gpaw
    - flake8 --doctests gpaw
    - >
      flake8
      --doctests
      --exclude "doc/platforms/*,doc/*/summerschool18/*/*"
      --extend-ignore E402
      doc
    - python -We:invalid -m compileall -f -q gpaw/
