master:
  image: python:3.7
  script:
    - apt-get update -qy
    - apt-get install -qy libopenblas-dev libscalapack-mpi-dev libxc-dev > apt-get.output
    - pip install flake8
    - pip install git+https://gitlab.com/ase/ase.git@master > ase-install.output
    - mkdir ~/.gpaw
    - echo "scalapack = True; libraries += ['scalapack-openmpi']" > ~/.gpaw/siteconfig.py
    - python setup.py install # > gpaw-install.output
    - useradd -m user
    - su user -c 'gpaw install-data --register gpaw-datasets'
    - su user -c 'gpaw -P 1 info'
    - su user -c 'gpaw test --range linalg/gemm_complex.py,lcao/dos.py'
    - flake8 --ignore E701,E722,E731,E203,E262,E402,E502,E305,W291,E241,E303,E221,E202,E127,E302,E201,E225,E128,E261,E251,E265,E501,E231,E226,E129,E741,W293,W503,W504 --exclude "doc/platforms/*" gpaw doc
    - python -We:invalid -m compileall -f -q gpaw/
